POSTGRES_DB=umami
POSTGRES_USER=umami
POSTGRES_PASSWORD=replace-with-a-random-password
APP_SECRET=replace-with-a-random-secret
UMAMI_ADMIN_PASSWORD=replace-with-a-random-admin-password
UMAMI_BIND_ADDRESS=127.0.0.1
UMAMI_PORT=3000
